<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blcodes.views.lightrefresh">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ViewpagerBannerTestActivity"/>
        <activity android:name=".activity.ScrollerViewTestActivity"/>
        <activity android:name=".activity.NormalViewTestActivity"/>
        <activity android:name=".activity.RecyclerViewTestActivity"/>
        <activity android:name=".activity.WebViewTestActivity"/>
        <activity android:name=".activity.RecyclerAndViewPagerActivity"/>
    </application>

</manifest>